<br />
<br />
<div class="container">
    <br />
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h2>Queremos ouvir o que você tem a dizer!</h2>
        <p>
            Se possui alguma dúvida ou sugestão fale com a gente!
        </p>
        <p>
            <span class="glyphicon glyphicon-envelope"></span>
            <email endereco="rjsilvaoficial@gmail.com" conteudo="Enviar um email"></email>
            <br />
            <span class="glyphicon glyphicon-phone"></span>
            (11) 95278-6714
            <br />
            <span class="glyphicon glyphicon-home"></span>
            Rua dos Loucos, 0.
        </p>
    </div>
</div>