@model Lanche

<div class="col-sm-4 col-md-4 col-lg-4">
    <div class="thumbnail">
        <img src="~/images/carousel5.jpg" class="img-rounded" alt="" /> @*adiconar campo @Model.ImageUrl pra ficar adequado*@
    </div>
    <div class="caption">
        <h3 class="pull-righ">@Model.Preco.ToString("c")</h3>
        <h3>@Model.Nome</h3>
    </div>
    <p>@Model.DescricaoCurta</p>
</div>