<br />
<br />
<div class="container">
    <div class="jumbotron">
        <p>
            <img src="~/images/acessonegado.png" alt="Àrea de administração" />
            <h1>Acesso negado</h1>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar a home</a>
</div>