<br />
<br />

<img src="~/images/adminarea.jpg" alt="Àrea de administração" />

<div class="container">
    <div class="jumbotron">
        <p>
            Essa é a àrea do administrador
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar a home</a>
</div>